<div id="<%= dom_id article %>" class="bg-gray-200 min-h-screen p-8">
  <div class="mx-auto max-w-3xl">
    <div class="bg-white rounded-lg shadow-lg p-8">
      <h1 class="text-3xl font-medium text-center mb-8"><%= article.title %></h1>
      <div class="text-gray-700 mb-8">
        <%= article.body %>
      </div>
      <div class="flex justify-center">
        <img src="<%= asset_path 'maxwell-nelson.jpg' %>" alt="Article Image" class="w-2/3">
      </div>
      <% if action_name != "show" %>
        <div class="flex flex-row justify-center">
          <%= link_to "Show this article", article, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <%= link_to 'Edit this article', edit_article_path(article), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
