<div class="w-full">
  <%= render 'shared/jumpotron' %>

  <h1 class="text-5xl my-6 mx-auto text-center">Articles</h1>

  <div class="mt-10 mx-auto flex flex-col justify-between md:flex-row">
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
  </div>
  
  <div class="mt-10 mx-auto flex flex-col justify-between md:flex-row">
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
  </div>
</div>
