<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen relative min-h-screenbg-slate-300">
    <%= render 'shared/navigation' %>
    <div class="pb-20">
      <%= yield %>
    </div>
    <%# <%= render Ui::DividerComponent.new %>
    <%= render 'shared/footer' %>
  </body>
</html>
